<div class="theme-dark-grey">
  <div class="container" style="padding: 2rem 0"></div>
</div>
<div class="theme-dark-grey w-100 position-fixed top-0 start-0" style="z-index: 555; backdrop-filter: blur(40px); background: #1d1d1fe0;">
  <div class="container" style="padding: 2rem 0">
    <div class="w-100 d-flex justify-content-between">
      <h5 class="lh-0 mb-0 text-uppercase text-theme-light"><span class="fw-bold">✱ Personal</span> Print</h5>
      <div class="d-flex">
        <p class="mb-0 lh-0 fw-medium fs-sm px-2 text-white">Home</p>
        <p class="mb-0 lh-0 fw-medium fs-sm px-2 text-white">Serviços</p>
        <p class="mb-0 lh-0 fw-medium fs-sm px-2 text-white">Produtos</p>
        <p class="mb-0 lh-0 fw-medium fs-sm px-2 text-white">Sobre nós</p>
        <p class="mb-0 lh-0 fw-medium fs-sm px-2 text-white">Contato</p>
      </div>
    </div>
  </div>
</div>
<div class="theme-blue">
  <div class="container py-3">
    <p class="mb-0 fw-medium text-uppercase fs-sm lh-0 text-white text-center">Frete Grátis para Goiânia e região!</p>
  </div>
</div>